/* Style for the CMS pages */
.warning {
  font-size: 2em;
  text-align:center;
  margin-top: 10%;
}
.howto {
  margin: 10px;
  font-size: 1.3em;
}
.beerDescription {
  margin: 0;
  }
h1 {
  margin:12px;
  font-weight:bold;
}
h2,h3,h4,h5,p {
  margin:0px;
}
p {
  font-size: 1.1em;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  background-color: #374049;
  color: #fff;
}
input, select, textarea {
  font-size: 1.em;
  color:#000;
}
.btn {
  color:black;
}
.important {
  font-weight: bold;
  color: yellow;
}
th, td {
  padding: 15px;
  text-align: left;
}
th {
  font-size: 1.3em;
}
.btn-danger {
  font-size: 1.5em;
  color:#000;
  margin-top: 10px;
}
.btn-addBeer {
  width:150px;
  height: 40px;
}
.beerList img {
  float:left;
  margin:10px;
}
.beerSectionHeader {
  margin-bottom:24px;
}
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-body > .add-section {
  margin: 5px;
  font-size: 1.3em;
}
.modalH {
  color:#000;
  font-weight:bold;
}
.modal-content {
  color:#000;
}
.modal-dialog {
  width: 800px;
}
.modal-body {
  padding: 0 15px;
}
.flex-it {
  display: flex;
  justify-content: space-around;
}
.flex-it img {
  height: 80px;
}
.flex-section {
  margin: 10px;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
.add-header {
  font-size: 1.3em;
  font-weight: bold;
}
.addDetail {
  font-size: .5em;
}
#AddImageDiv img {
  height: 70px;
}
#ActiveRadios {
  float:left;
  margin-left: 45%;
  text-align: left;
  font-size: 1.2em;
}
.flex-section:hover {
  background-color: #5bc0de;
}